include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include optics_9t9it *.css
recursive-include optics_9t9it *.csv
recursive-include optics_9t9it *.html
recursive-include optics_9t9it *.ico
recursive-include optics_9t9it *.js
recursive-include optics_9t9it *.json
recursive-include optics_9t9it *.md
recursive-include optics_9t9it *.png
recursive-include optics_9t9it *.py
recursive-include optics_9t9it *.svg
recursive-include optics_9t9it *.txt
recursive-exclude optics_9t9it *.pyc
