<main class="os-lof">
  <div class="os-lof-preheader">
    {%- set branch_phone, branch_cr_no = frappe.db.get_value('Branch', doc.os_branch,
    ['branch_phone', 'os_cr_no']) or (None, None) -%}
    <div>{{ doc.os_branch or '' }}</div>
    {%- if branch_phone -%}
    <div>{{ 'Tel No: {}'.format(branch_phone) }}</div>
    {%- endif -%}
  </div>
  <div class="os-lof-header">
    <div class="os-lof-header-content">
      <h1>{{ _('Collection Slip') }}</h1>
      <div class="os-sr-header-subtitle">Biz Reg No. CR {{ branch_cr_no }}</div>
      <dl>
        <dt>{{ _('Branch')}}</dt>
        <dd>{{ doc.os_branch or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Order Date')}}</dt>
        <dd>{{ doc.get_formatted('transaction_date') }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Collection')}}</dt>
        <dd>{{ doc.get_formatted('delivery_date') }}</dd>
      </dl>
    </div>
    <svg
      class="barcode"
      jsbarcode-format="CODE128"
      jsbarcode-value="{{ doc.name }}"
      jsbarcode-textmargin="2"
      jsbarcode-textposition="top"
      jsbarcode-fontoptions="bold"
      jsbarcode-height="40"
      jsbarcode-width="1"
      jsbarcode-margin="4"
    />
  </div>
  <div class="os-cs-header">
    {%- set customer = frappe.get_doc('Customer', doc.customer) -%}
    <div>
      <dl>
        <dt>{{ _('Name / ID') }}</dt>
        <dd>{{ doc.customer_name }} / {{ doc.customer }}</dd>
      </dl>
      <dl>
        <dt>{{ _('IC No') }}</dt>
        <dd>{{ customer.os_loyalty_card_no or ''}}</dd>
      </dl>
      <dl>
        <dt>{{ _('Address') }}</dt>
        <dd>{{ customer.os_address or '' }}</dd>
      </dl>
    </div>
    <div class="os-sr-header-content">
      <dl>
        <dt>{{ _('Office No') }}</dt>
        <dd>{{ customer.os_office_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Mobile No') }}</dt>
        <dd>{{ customer.os_mobile_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Home No') }}</dt>
        <dd>{{ customer.os_home_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Other No') }}</dt>
        <dd>{{ customer.os_other_number or '' }}</dd>
      </dl>
    </div>
  </div>
  <div class="os-sof-items os-cs-items">
    {%- set items = get_optical_items(doc.items, frame_ig, lens_ig) -%}
    <table class="table table-condensed os-items">
      <thead>
        <tr>
          <th>{{ _('Type') }}</th>
          <th>{{ _('Description') }}</th>
          <th>{{ _('Amount') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ _('Frame') }}</td>
          <td>{%- if items.frame -%} {{ items.frame.item_name }} {%- endif -%}</td>
          <td>
            {{ items.frame.get_formatted('amount', doc) if items.frame else '-' }}
          </td>
        </tr>
        <tr>
          <td>{{ _('Lens (R)') }}</td>
          <td>
            {%- if items.lens_right -%} {{ items.lens_right.item_name }} {%- endif -%}
          </td>
          <td>
            {{ items.lens_right.get_formatted('amount', doc) if items.lens_right else
            '-' }}
          </td>
        </tr>
        <tr>
          <td>{{ _('Lens (L)') }}</td>
          <td>
            {%- if items.lens_left -%} {{ items.lens_left.item_name }} {%- endif -%}
          </td>
          <td>
            {{ items.lens_left.get_formatted('amount', doc) if items.lens_left else '-'
            }}
          </td>
        </tr>
        {%- for item in items.others -%}
        <tr>
          <td>{{ item.item_group }}</td>
          <td>{{ item.item_name }}</td>
          <td>{{ item.get_formatted('amount', doc) }}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="os-lof-notes">
    <div>
      <dl>
        <dt>{{ _('Storage Location')}}</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>{{ _('Remarks')}}</dt>
        <dd>{{ doc.os_orx_notes or '' }}</dd>
      </dl>
    </div>
    <div class="os-sof-totals">
      <dl>
        <dt>{{ _('Rounding Adjustment') }}</dt>
        <dd>{{ doc.get_formatted('rounding_adjustment') }}</dd>
      </dl>
      <dl class="os-sr-totals-divide">
        <dt>{{ _('Total Amount') }}</dt>
        <dd>{{ doc.get_formatted('total') }}</dd>
      </dl>
      {%- if doc.discount_amount -%}
      <dl>
        <dt>{{ _('Discount') }} (-)</dt>
        <dd>{{ doc.get_formatted('discount_amount') }}</dd>
      </dl>
      {%- endif -%} {%- if doc.taxes|len -%} {%- for tax in doc.taxes -%}
      <dl>
        <dt>{{ _(tax.description) }}</dt>
        <dd>{{ tax.get_formatted('tax_amount', doc) }}</dd>
      </dl>
      {%- endfor -%} {%- endif-%} {%- if doc.total != doc.grand_total -%}
      <dl class="os-sr-totals-divide">
        <dt>{{ _('Grand Total') }}</dt>
        <dd>{{ doc.get_formatted('grand_total') }}</dd>
      </dl>
      {%- endif -%} {%- set payments =
      get_advance_payments(doc)|selectattr('payment_doctype', 'eq', 'Sales
      Invoice')|list -%} {%- set total_received = payments|sum(attribute='paid_amount')
      -%}
      <dl>
        <dt>{{ _('Total Received') }}</dt>
        <dd>{{ frappe.utils.fmt_money(total_received, currency=doc.currency) }}</dd>
      </dl>
      {%- for mop, list in payments|groupby('mode_of_payment') -%}
      <div class="os-sof-totals-payment">
        {{ mop }}: {{ frappe.utils.fmt_money(list|sum(attribute='paid_amount'),
        currency=doc.currency) }}
      </div>
      {%- endfor -%}
      <dl>
        <dt>{{ _('Balance Amount') }}</dt>
        <dd>
          {{ frappe.utils.fmt_money(doc.grand_total - total_received,
          currency=doc.currency) }}
        </dd>
      </dl>
    </div>
  </div>
  <div class="os-sr-terms">
    {%- if doc.terms -%}
    <div>
      <dl>
        <dt>{{ _('Notes')}}</dt>
        <dd>{{ doc.terms }}</dd>
      </dl>
    </div>
    {%- endif -%}
  </div>
  <div class="os-lof-footer">
    {%- set sales_person_name = frappe.db.get_value('Employee', doc.os_sales_person,
    'employee_name') if doc.os_sales_person else '' -%}
    <dl>
      <dt>{{ _('Issued By') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Sales Person') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Printed On') }}</dt>
      <dd>{{ frappe.utils.now_datetime().strftime('%A, %B %d, %Y, %I:%M:%S %p') }}</dd>
    </dl>
    <div class="os-lof-footer-message">
      This is a computer generated receipt. No signature is required.
    </div>
  </div>
</main>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/barcodes/JsBarcode.code128.min.js"
></script>
<script type="text/javascript">
  JsBarcode('.barcode').init();
</script>
