<main class="os-lof">
  <div class="os-lof-preheader">
    {%- set branch_phone = frappe.db.get_value('Branch', doc.os_branch, 'branch_phone')
    -%}
    <div>{{ doc.os_branch or '' }}</div>
    {%- if branch_phone -%}
    <div>{{ 'Tel No: {}'.format(branch_phone) }}</div>
    {%- endif -%}
  </div>
  <div class="os-lof-header">
    <div class="os-lof-header-content">
      <h1>{{ _('Lab Order Form') }}</h1>
      <dl>
        <dt>{{ _('Branch')}}</dt>
        <dd>{{ doc.os_branch or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Order Date')}}</dt>
        <dd>{{ doc.get_formatted('transaction_date') }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Lab')}}</dt>
        <dd>{{ doc.orx_lab or '' }}</dd>
      </dl>
    </div>
    <svg
      class="barcode"
      jsbarcode-format="CODE128"
      jsbarcode-value="{{ doc.name }}"
      jsbarcode-textmargin="2"
      jsbarcode-textposition="top"
      jsbarcode-height="40"
      jsbarcode-width="1"
      jsbarcode-margin="4"
    />
  </div>
  <div class="os-lof-details">
    {%- if doc.orx_name -%} {%- set rx = frappe.get_doc('Optical Prescription',
    doc.orx_name) -%}
    <table class="table table-condensed table-bordered os-prescription">
      <thead>
        <tr>
          <th></th>
          <th colspan="4">R</th>
          <th colspan="4">L</th>
        </tr>
        <tr>
          <td></td>
          {%- for side in ['right', 'left'] -%} {%- for param in ['sph', 'cyl', 'axis',
          'va'] -%}
          <td>{{ param|upper }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ _('Distance') }}</th>
          {%- for side in ['right', 'left'] -%} {%- for param in ['sph', 'cyl', 'axis',
          'va'] -%}
          <td>{{ rx.get('{}_{}'.format(param, side)) or '' }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
        <tr>
          <th>{{ _('Reading') }}</th>
          {%- for side in ['right', 'left'] -%} {%- for param in ['sph', 'cyl', 'axis',
          'va'] -%}
          <td>{{ rx.get('{}_reading_{}'.format(param, side)) or '' }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
        <tr>
          <th>{{ _('Add') }}</th>
          {%- for side in ['right', 'left'] -%} {%- for param in ['add', '', '', ''] -%}
          <td>{{ rx.get('{}_{}'.format(param, side)) or '' }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
      </tbody>
    </table>
    <div class="os-lof-details-items">
      {%- set items = get_optical_items(doc.items, frame_ig, lens_ig) -%}
      <dl>
        <dt>{{ _('Frame / Model') }}</dt>
        <dd>
          {%- if items.frame -%} {{ frappe.db.get_value('Item Group',
          items.frame.item_group, 'item_group_abbr') or '' }} {{ items.frame.brand or ''
          }} {{ items.frame.item_name }} {%- endif -%}
        </dd>
      </dl>
      <dl>
        <dt>{{ _('Lens (R)') }}</dt>
        <dd>
          {%- if items.lens_right -%} {{ frappe.db.get_value('Item Group',
          items.lens_right.item_group, 'item_group_abbr') or '' }} {{
          items.lens_right.brand or '' }} {{ items.lens_right.item_name }} {%- endif -%}
        </dd>
      </dl>
      <dl>
        <dt>{{ _('Lens (L)') }}</dt>
        <dd>
          {%- if items.lens_left -%} {{ frappe.db.get_value('Item Group',
          items.lens_left.item_group, 'item_group_abbr') or '' }} {{
          items.lens_left.brand or '' }} {{ items.lens_left.item_name }} {%- endif -%}
        </dd>
      </dl>
      {%- for item in items.others -%}
      <dl>
        <dt>{{ item.item_group }}</dt>
        <dd>
          {{ frappe.db.get_value('Item Group', item.item_group, 'item_group_abbr') or ''
          }} {{ item.brand or '' }} {{ item.item_name }}
        </dd>
      </dl>
      {%- endfor -%}
    </div>
    <div class="os-lof-details-others">
      <dl>
        <dt>{{ _('PD (right) mm')}}</dt>
        <dd>{{ rx.pd_right or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('PD (left) mm')}}</dt>
        <dd>{{ rx.pd_left or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('PD (total) mm')}}</dt>
        <dd>{{ rx.pd_total or '' }}</dd>
      </dl>
    </div>
    <div class="os-lof-details-others">
      <dl>
        <dt>{{ _('Prism (right)')}}</dt>
        <dd>{{ rx.prism_right or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Prism (left)')}}</dt>
        <dd>{{ rx.prism_left or '' }}</dd>
      </dl>
    </div>
    <div class="os-lof-details-others">
      <dl>
        <dt>{{ _('Frame Size')}}</dt>
        <dd>{{ doc.orx_frame_size or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Height')}}</dt>
        <dd>{{ doc.orx_height or '' }}</dd>
      </dl>
    </div>
    {%- endif -%}
  </div>
  <div class="os-lof-main">
    <div class="os-lof-main-subline">
      <dl>
        <dt>{{ _('Delivery Date') }}</dt>
        <dd>{{ doc.get_formatted('delivery_date') }}</dd>
      </dl>
    </div>
    <div class="os-lof-main-headline">
      <dl>
        <dt>{{ _('Name / ID') }}</dt>
        <dd>{{ doc.customer_name }} / {{ doc.customer }}</dd>
      </dl>
    </div>
  </div>
  <div class="os-lof-notes">
    <div>
      <dl>
        <dt>{{ _('Storage Location')}}</dt>
        <dd>{{ doc.set_warehouse or ''}}</dd>
      </dl>
      <dl>
        <dt>{{ _('Remarks')}}</dt>
        <dd>{{ doc.os_orx_notes or '' }}</dd>
      </dl>
    </div>
    <div>
      <dl>
        <dt>{{ _('Lab Remarks')}}</dt>
        <dd>{{ doc.os_notes or '' }}</dd>
      </dl>
    </div>
  </div>
  <div class="os-lof-footer">
    {%- set sales_person_name = frappe.db.get_value('Employee', doc.os_sales_person,
    'employee_name') if doc.os_sales_person else '' -%}
    <dl>
      <dt>{{ _('Issued By') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Sales Person') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Printed On') }}</dt>
      <dd>{{ frappe.utils.now_datetime().strftime('%A, %B %d, %Y, %I:%M:%S %p') }}</dd>
    </dl>
    <div class="os-lof-footer-message">
      This is a computer generated receipt. No signature is required.
    </div>
  </div>
</main>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/barcodes/JsBarcode.code128.min.js"
></script>
<script type="text/javascript">
  JsBarcode('.barcode').init();
</script>
