{%- set is_prescription = doc.doctype == 'Optical Prescription' -%} {%- if not
is_prescription and not doc.orx_name -%}
<div class="os-warning-message">WARNING: Required Prescription in document</div>
{%- endif -%} {%- set rx = frappe.get_doc('Optical Prescription', doc.orx_name) -%}
<main class="os-lof">
  {%- if not is_prescription -%}
  <div class="os-lof-preheader">
    {%- set branch_phone, branch_cr_no = frappe.db.get_value('Branch', doc.os_branch,
    ['branch_phone', 'os_cr_no']) or (None, None) -%}
    <div>{{ doc.os_branch or '' }}</div>
    {%- if branch_phone -%}
    <div>{{ 'Tel No: {}'.format(branch_phone) }}</div>
    {%- endif -%}
  </div>
  {%- endif -%}
  <div class="os-header">
    <h1>{{ _('Optical Prescription Form') }}</h1>
    <div class="os-header-content">
      <dl>
        <dt>{{ '{} No'.format(doc.doctype.split(' ')[-1]) }}</dt>
        <dd>{{ doc.name }}</dd>
      </dl>
      {%- if not is_prescription -%}
      <dl>
        <dt>{{ _('Dispensor')}}</dt>
        <dd>
          {{ frappe.db.get_value('Employee', doc.orx_dispensor, 'employee_name') if
          doc.orx_dispensor else '' }}
        </dd>
      </dl>
      {%- endif -%}
      <dl>
        <dt>{{ _('Prescription Date')}}</dt>
        <dd>{{ rx.get_formatted('test_date') }}</dd>
      </dl>
      {%- if not is_prescription -%}
      <dl>
        <dt>{{ _('Optometrist')}}</dt>
        <dd>
          {{ frappe.db.get_value('Employee', doc.os_lab_tech, 'employee_name') if
          doc.os_lab_tech else '' }}
        </dd>
      </dl>
      <dl>
        <dt>{{ _('Collection Date')}}</dt>
        <dd>{{ doc.get_formatted('delivery_date') }}</dd>
      </dl>
      {%- else -%}
      <div></div>
      {%- endif -%}
      <dl>
        <dt>{{ _('Expiry Date')}}</dt>
        <dd>{{ rx.get_formatted('expiry') }}</dd>
      </dl>
    </div>
  </div>

  <div class="os-lof-details">
    <table class="table table-condensed table-bordered os-prescription">
      <thead>
        <tr>
          <th></th>
          <th colspan="4">R</th>
          <th colspan="4">L</th>
        </tr>
        <tr>
          <td></td>
          {%- for side in ['right', 'left'] -%} {%- for param in ['sph', 'cyl', 'axis',
          'va'] -%}
          <td>{{ param|upper }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ _('Distance') }}</th>
          {%- for side in ['right', 'left'] -%} {%- for param in ['sph', 'cyl', 'axis',
          'va'] -%}
          <td>{{ rx.get('{}_{}'.format(param, side)) or '' }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
        <tr>
          <th>{{ _('Reading') }}</th>
          {%- for side in ['right', 'left'] -%} {%- for param in ['sph', 'cyl', 'axis',
          'va'] -%}
          <td>{{ rx.get('{}_reading_{}'.format(param, side)) or '' }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
        <tr>
          <th>{{ _('Add') }}</th>
          {%- for side in ['right', 'left'] -%} {%- for param in ['add', '', '', ''] -%}
          <td>{{ rx.get('{}_{}'.format(param, side)) or '' }}</td>
          {%- endfor -%} {%- endfor -%}
        </tr>
      </tbody>
    </table>
    {%- if not is_prescription -%}
    <div class="os-lof-details-others">
      <dl>
        <dt>{{ _('Frame Size')}}</dt>
        <dd>{{ doc.orx_frame_size or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Height')}}</dt>
        <dd>{{ doc.orx_height or '' }}</dd>
      </dl>
    </div>
    {%- endif -%}
    <div class="os-lof-details-others">
      <dl>
        <dt>{{ _('PD (right) mm')}}</dt>
        <dd>{{ rx.pd_right or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('PD (left) mm')}}</dt>
        <dd>{{ rx.pd_left or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('PD (total) mm')}}</dt>
        <dd>{{ rx.pd_total or '' }}</dd>
      </dl>
    </div>
    <div class="os-lof-details-others">
      <dl>
        <dt>{{ _('Prism (right)')}}</dt>
        <dd>{{ rx.prism_right or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Prism (left)')}}</dt>
        <dd>{{ rx.prism_left or '' }}</dd>
      </dl>
    </div>
  </div>
  <div class="os-header">
    {%- set customer = frappe.get_doc('Customer', doc.customer) -%}
    <div>
      <dl>
        <dt>{{ _('Name / ID') }}</dt>
        <dd>{{ doc.customer_name }} / {{ doc.customer }}</dd>
      </dl>
      <dl>
        <dt>{{ _('IC No') }}</dt>
        <dd>{{ customer.os_loyalty_card_no or ''}}</dd>
      </dl>
      <dl>
        <dt>{{ _('Address') }}</dt>
        <dd>{{ customer.os_address or '' }}</dd>
      </dl>
    </div>
    <div class="os-header-content">
      <dl>
        <dt>{{ _('Office No') }}</dt>
        <dd>{{ customer.os_office_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Mobile No') }}</dt>
        <dd>{{ customer.os_mobile_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Home No') }}</dt>
        <dd>{{ customer.os_home_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Other No') }}</dt>
        <dd>{{ customer.os_other_number or '' }}</dd>
      </dl>
    </div>
  </div>
  {%- if not is_prescription and doc.terms -%}
  <div class="os-sr-terms os-bordered-bottom">
    <div>{{ _('Notes')}}</div>
    <div>{{ doc.terms }}</div>
  </div>
  {%- endif -%}
  <div class="os-lof-footer">
    {%- if not is_prescription -%} {%- set sales_person_name =
    frappe.db.get_value('Employee', doc.os_sales_person, 'employee_name') if
    doc.os_sales_person else '' -%}
    <dl>
      <dt>{{ _('Issued By') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Sales Person') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    {%- endif -%}
    <dl>
      <dt>{{ _('Printed On') }}</dt>
      <dd>{{ frappe.utils.now_datetime().strftime('%A, %B %d, %Y, %I:%M:%S %p') }}</dd>
    </dl>
    <div class="os-lof-footer-message">
      This is a computer generated receipt. No signature is required.
    </div>
  </div>
</main>
