<style>
  @page {
    size: 'A6';
    margin: {{ margin_page or '5mm' }};
  }
  @media screen {
    .print-format {
      width: {{ page_width or '105mm' }};
      height: {{ page_height or '148mm' }};
      padding: {{ margin_page or '5mm' }};
      max-width: {{ page_width or '105mm' }};
      min-height: {{ page_height or '148mm' }};
    }
  }
  .os-lof {
    margin-top: {{ header_height or '0' }};
    font-family: Helvetica, sans-serif;
    font-size: {{ base_font_size or '7pt' }};
    display: flex;
    flex-flow: column nowrap;
    min-height: calc({{ page_height or '148mm' }} - {{ header_height or '0' }} - {{ margin_page or '5mm' }} * 2);
  }
  .os-lof-preheader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .os-lof-preheader > * {
    margin: 0 1em;
  }
  .os-lof-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    border-top: 1px solid {{ style.border_color }};
    border-bottom: 1px solid {{ style.border_color }};
  }
  .os-lof-header > * {
    width: 50%;
  }
  .os-lof-header-content {
    border-right: 1px solid {{ style.border_color }};
    padding-right: 2pt;
    margin-right: 2pt;
  }
  .os-lof-header h1 {
    margin: 0.2em 0 0.3em 0;
    font-size: 1.3em;
    font-weight: bold;
  }

  .os-lof dl {
    margin: 0;
    display: flex;
  }
  .os-lof dt {
    font-weight: normal;
  }
  .os-lof dd {
    font-weight: bold;
  }
  .os-lof dt:after {
    content: ': ';
  }
  .os-lof dl > * {
    display: inline;
  }
  .os-lof-header dt,
  .os-lof-details-items dt,
  .os-lof-details-others dt,
  .os-lof-delivery_date dt,
  .os-lof-main dt,
  .os-sof-main dt,
  .os-xz-main dt,
  .os-st-summary dt,
  .os-lof-footer dt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 0.3em;
    min-width: 8.5em;
  }
  .os-lof-header dt {
    min-width: 6.5em;
  }
  .os-sof-main-subline dt {
    min-width: 5.5em;
  }
  .os-xz-main dt {
    min-width: 14.5em;
  }

  .os-prescription,
  .os-items {
    margin: 1em 0;
    border-top: none;
  }
  .os-prescription th,
  .os-prescription td,
  .os-items th,
  .os-items td  {
    padding: 0 2pt !important;
    background-color: transparent !important;
  }
  .os-prescription thead th {
    text-align: center;
  }
  .os-prescription thead td,
  .os-prescription tbody td {
    text-align: right;
  }
  .os-prescription > tbody > tr > th,
  .os-prescription > tbody > tr > td {
    font-weight: normal;
  }
  .os-prescription > thead > tr > td {
    border-bottom-width: 1px;
  }
  .os-prescription thead td:first-child,
  .os-prescription thead th:first-child,
  .os-prescription thead th:nth-child(2),
  .os-prescription thead td:nth-child(5),
  .os-prescription tbody th:first-child,
  .os-prescription tbody td:nth-child(5) {
    border-right-width: 2px;
  }

  .os-lof-details-others {
    display: flex;
    flex-flow: row nowrap;
  }
  .os-lof-details-others > * {
    width: 33.33%;
  }

  .os-lof-main {
    margin-bottom: 1em;
  }
  .os-lof-main-subline {
    width: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    border-bottom: 1px solid {{ style.border_color }};
  }
  .os-lof-main-subline > dl {
    padding: 0.3em 0.5em 0;
    border: 1px solid {{ style.border_color }};
    border-bottom: none;
  }
  .os-lof-main-headline {
    padding: 0.5em 0;
  }

  .os-lof-footer dd {
    font-size: 0.85em;
  }
  .os-lof-footer-message {
    text-align: center;
    font-size: 0.8em;
  }

  .os-sof-main {
    padding-top: 0.5em;
    margin-top: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid {{ style.border_color }};
  }
  .os-sof-main-headline {
    width: 70%;
  }
  .os-sof-main-subline {
    width: 30%;
  }

  .os-sof-totals {
    padding-left: 0.6em;
  }
  .os-sof-totals dl {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
  }
  .os-sof-totals dt {
    font-size: 1em;
  }
  .os-sof-totals-payment {
    padding-left: 1em;
    font-size: 0.75em;
  }

  .os-sr-totals {
    flex: 1 1 auto;
  }
  .os-sr-totals dd {
    flex: 1 1 auto;
    text-align: right;
  }
  .os-sr-totals-divide {
    padding-bottom: 0.1em;
    border-bottom: 1px solid {{ style.border_color }};
    margin-bottom: 0.2em;
  }

  .os-xz-main {
    margin: 1em 0;
    flex: 1 1 auto;
  }
  .os-xz-main dl {
    justify-content: flex-end;
  }
  .os-xz-main dt, .os-xz-main dd {
    font-size: 1em;
  }
  .os-xz-main dd {
    text-align: right;
    min-width: 10em;
  }
  .os-xz-main-subtitle {
    margin-top: 0.2em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid {{ style.border_color }};
    margin-bottom: 0.1em;
  }

  .os-cs-items, .os-st-items {
    flex: 1 1 auto;
  }

  .os-st-items > .os-items th:first-of-type,
  .os-st-items > .os-items td:first-of-type {
    width: 6%;
    text-align: right;
  }
  .os-st-items > .os-items th:nth-of-type(2),
  .os-st-items > .os-items td:nth-of-type(2) {
    width: auto;
    word-wrap: break-word;
  }
  .os-st-items > .os-items th:last-of-type,
  .os-st-items > .os-items td:last-of-type {
    width: 10%;
    text-align: right;
  }

  .os-st-summary {
    margin-top: 0.3em;
    border-top: 1px solid {{ style.border_color }};
    padding-top: 0.3em;
  }


  .os-print {
    margin-top: {{ header_height or '0' }};
    font-family: Helvetica, sans-serif;
    font-size: {{ base_font_size or '7pt' }};
    display: flex;
    flex-flow: column nowrap;
    min-height: calc({{ page_height or '148mm' }} - {{ header_height or '0' }} - {{ margin_page or '5mm' }} * 2);
  }
  .os-print dl {
    margin: 0;
    display: flex;
    font-size: 0.85em;
  }
  .os-print dt {
    font-weight: normal;
  }
  .os-print dd {
    font-weight: bold;
  }
  .os-print dt:after {
    content: ': ';
  }
  .os-print dl > * {
    display: inline;
  }


  .os-preheader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .os-preheader > * {
    margin: 0 1em;
  }

  .os-header {
    border-top: 1px solid {{ style.border_color }};
    padding-bottom: 0.3em;
    border-bottom: 1px solid {{ style.border_color }};
  }
  .os-header--barcode {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  .os-header--barcode > * {
    width: 50%;
  }

  .os-section {
    margin: 0.3em 0;
  }


  .os-footer {
    font-size: 0.85em;
  }
  .os-footer-message {
    text-align: center;
    font-size: 0.8em;
  }


  .os-payslip-preheader-logo {
    width: 6em;
  }
  .os-payslip-preheader-text {
    flex: 1 0 0;
    text-align: center;
  }
  .os-payslip-preheader-text > *:first-child {
    font-size: 2em;
  }
  .os-payslip-preheader-text > *:nth-child(2) {
    font-weight: bold;
  }
  .os-payslip-title {
    padding-top: 0.3em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
  .os-payslip dt {
    min-width: 15em;
  }


  .os-header h1 {
    margin: 0.2em 0 0.3em 0;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
  }
  .os-header--barcode > .os-header h1 {
    text-align: left;
  }

  .os-header-subtitle {
    font-size: 0.8em;
    margin-bottom: 0.3em;
  }
  .os-header-content, .os-section-content, .os-footer-content {
    display: flex;
    flex-flow: row wrap;
  }
  .os-header--barcode > .os-header-content {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    border-right: 1px solid {{ style.border_color }};
    padding-right: 2pt;
    margin-right: 2pt;
  }
  .os-header-content > *, .os-section-content > * {
    width: 50%;
    padding-right: 0.5em;
  }
  .os-footer-content > * {
    width: 100%;
  }
  .os-header--barcode > .os-header-content > * {
    width: 100%;
  }
  .os-header-content dt, .os-section-content dt, .os-footer dt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 0.3em;
    min-width: 8.5em;
  }
  .os-header-content dd.text-right, , .os-section-content dd.text-right, .os-footer dd.text-right {
    flex: 1 1 auto;
  }
  .os-section-content--col-3 > * {
    width: 33%;
    padding-right: 0.5em;
  }
  .os-section-content > .os-fill {
    width: 100%;
  }

  .os-main {
    display: flex;
    flex-flow: row wrap;
  }
  .os-main > * {
    min-width: 25%;
    padding-right: 0.5em;
  }
  .os-main > .os-fill {
    width: 100%;
  }

  .os-items {
    max-width: 100%;
    table-layout: fixed;
  }
  .os-items th:first-of-type,
  .os-items td:first-of-type {
    width: 20%;
  }
  .os-items th:last-of-type,
  .os-items td:last-of-type {
    width: 25%;
    text-align: right;
  }
  .os-items th.os-fit-content,
  .os-items td.os-fit-content {
    width: 5%;
    white-space: nowrap;
  }

  .os-summary {
    display: flex;
    flex-flow: row nowrap;
    min-height: 6em;
    margin-bottom: 0.5em;
  }
  .os-summary > * {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
  }
  .os-summary dl {
    margin-bottom: 0.3em;
  }

  .os-summary-content {
    padding-right: 0.6em;
  }
  .os-summary-content dl {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .os-summary-content dt {
    font-size: 1em;
  }
  .os-summary-content > .os-small {
    padding-left: 1em;
    font-size: 0.75em;
  }

  .os-fill {
    flex-grow: 1;
  }
  .os-bordered {
    border: 1px solid {{ style.border_color }};
    padding: 0.3em;
    margin: 0.3em 0;
  }
  .os-bordered-bottom {
    padding-bottom: 0.3em;
    border-bottom: 1px solid {{ style.border_color }};
    margin-bottom: 0.3em;
  }
  .os-bordered-no-left {
    border-left: none;
  }
  .os-warning-message {
    font-size: 1.2em;
    color: orange;
    padding: 0.3em;
    border: 1px solid orange;
  }
  .os-1-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .os-2-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4em;
    max-height: 2.8em;
  }
  .os-underline {
    padding-bottom: 0.2em;
    border-bottom: 1px solid {{ style.border_color }};
    margin-bottom: 0.2em;
  }
  .os-loyalty {
    text-align: center;
  }
</style>
