<main class="os-lof">
  {{ macros.preheader(doc) }}

  {%- set branch_cr_no = frappe.db.get_value('Branch', doc.os_branch, 'os_cr_no') -%}
  <div class="os-header">
    <h1>{{ _('Tax Invoice') }}</h1>
    <div class="os-header-subtitle">Biz Reg No. CR {{ branch_cr_no }}</div>
    <div class="os-header-content">
      <dl>
        <dt>{{ _('Sales No')}}</dt>
        <dd>{{ doc.name }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Order Date')}}</dt>
        {%- set order_date = get_ref_so_date(doc.name) -%}
        <dd class="text-right">
          {{ frappe.utils.formatdate(order_date) if order_date else '' }}
        </dd>
      </dl>
      <dl>
        <dt>{{ _('Branch')}}</dt>
        <dd>{{ doc.os_branch or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Collection Date')}}</dt>
        <dd class="text-right">{{ doc.get_formatted('posting_date') }}</dd>
      </dl>
    </div>
  </div>

  {{ macros.customer_details(doc.customer) }}

  <div class="os-section os-fill">
    {%- set items = get_optical_items(doc.items) -%}
    {{ macros.item_table_cat(items, currency=doc.currency, lines=2) }}
  </div>

  <div class="os-summary">
    {%- call macros.summary_aside(doc, amounts=get_amounts(doc)) -%}
    <div class="os-fill">
      {%- if doc.terms -%}
      <div>{{ _('Notes')}}</div>
      <div>{{ doc.terms }}</div>
      {%- endif -%}
    </div>
    {%- endcall -%}
    {{ macros.sales_summary(doc, payments=get_payments(doc)) }}
  </div>

  {{ macros.footer(doc) }}
</main>
