<main class="os-lof">
  <div class="os-lof-preheader">
    {%- set branch_phone, branch_cr_no = frappe.db.get_value('Branch', doc.os_branch,
    ['branch_phone', 'os_cr_no']) or (None, None) -%}
    <div>{{ doc.os_branch or '' }}</div>
    {%- if branch_phone -%}
    <div>{{ 'Tel No: {}'.format(branch_phone) }}</div>
    {%- endif -%}
  </div>
  <div class="os-sr-header">
    <h1>{{ _('Sales Receipt') }}</h1>
    <div class="os-sr-header-subtitle">Biz Reg No. CR {{ branch_cr_no }}</div>
    <div class="os-sr-header-content">
      <dl>
        <dt>{{ _('Sales No')}}</dt>
        <dd>{{ doc.name }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Order Date')}}</dt>
        {%- set order_date = get_ref_so_date(doc.name) -%}
        <dd class="text-right">
          {{ frappe.utils.formatdate(order_date) if order_date else '' }}
        </dd>
      </dl>
      <dl>
        <dt>{{ _('Branch')}}</dt>
        <dd>{{ doc.os_branch or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Collection Date')}}</dt>
        <dd class="text-right">{{ doc.get_formatted('posting_date') }}</dd>
      </dl>
    </div>
    {%- set customer = frappe.get_doc('Customer', doc.customer) -%}
    <div>
      <dl>
        <dt>{{ _('Name / ID') }}</dt>
        <dd>{{ doc.customer_name }} / {{ doc.customer }}</dd>
      </dl>
      <dl>
        <dt>{{ _('IC No') }}</dt>
        <dd>{{ customer.os_loyalty_card_no or ''}}</dd>
      </dl>
      <dl>
        <dt>{{ _('Address') }}</dt>
        <dd>{{ customer.os_address or '' }}</dd>
      </dl>
    </div>
    <div class="os-sr-header-content">
      <dl>
        <dt>{{ _('Office No') }}</dt>
        <dd>{{ customer.os_office_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Mobile No') }}</dt>
        <dd>{{ customer.os_mobile_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Home No') }}</dt>
        <dd>{{ customer.os_home_number or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Other No') }}</dt>
        <dd>{{ customer.os_other_number or '' }}</dd>
      </dl>
    </div>
  </div>

  <div class="os-sof-items">
    {%- set items = get_optical_items(doc.items, frame_ig, lens_ig) -%}
    <table class="table table-condensed os-items">
      <thead>
        <tr>
          <th>{{ _('Type') }}</th>
          <th>{{ _('Description') }}</th>
          <th>{{ _('Amount') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ _('Frame') }}</td>
          <td>{%- if items.frame -%} {{ items.frame.item_name }} {%- endif -%}</td>
          <td>
            {{ items.frame.get_formatted('amount', doc) if items.frame else '-' }}
          </td>
        </tr>
        <tr>
          <td>{{ _('Lens (R)') }}</td>
          <td>
            {%- if items.lens_right -%} {{ items.lens_right.item_name }} {%- endif -%}
          </td>
          <td>
            {{ items.lens_right.get_formatted('amount', doc) if items.lens_right else
            '-' }}
          </td>
        </tr>
        <tr>
          <td>{{ _('Lens (L)') }}</td>
          <td>
            {%- if items.lens_left -%} {{ items.lens_left.item_name }} {%- endif -%}
          </td>
          <td>
            {{ items.lens_left.get_formatted('amount', doc) if items.lens_left else '-'
            }}
          </td>
        </tr>
        {%- for item in items.others -%}
        <tr>
          <td>{{ item.item_group }}</td>
          <td>{{ item.item_name }}</td>
          <td>{{ item.get_formatted('amount', doc) }}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="os-sr-terms">
    {%- if doc.terms -%}
    <div>
      <dl>
        <dt>{{ _('Notes')}}</dt>
        <dd>{{ doc.terms }}</dd>
      </dl>
    </div>
    {%- endif -%}
  </div>
  <div class="os-sr-totals">
    <dl>
      <dt>{{ _('Rounding Adjustment') }}</dt>
      <dd>{{ doc.get_formatted('rounding_adjustment') }}</dd>
    </dl>
    <dl class="os-sr-totals-divide">
      <dt>{{ _('Total Amount') }}</dt>
      <dd>{{ doc.get_formatted('total') }}</dd>
    </dl>
    {%- set payments = get_advance_payments(doc) -%}
    <dl>
      <dt>{{ _('Total Received') }}</dt>
      <dd>
        {{ frappe.utils.fmt_money(payments|sum(attribute='paid_amount'),
        currency=doc.currency) }}
      </dd>
    </dl>
    {%- for payment in payments -%}
    <div class="os-sof-totals-payment">
      {{ payment.payment_name }}: {{ frappe.utils.fmt_money(payment.paid_amount,
      currency=doc.currency) }}
    </div>
    {%- endfor -%}
  </div>
  <div class="os-lof-footer">
    {%- set sales_person_name = frappe.db.get_value('Employee', doc.os_sales_person,
    'employee_name') if doc.os_sales_person else '' -%}
    <dl>
      <dt>{{ _('Issued By') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Sales Person') }}</dt>
      <dd>{{ sales_person_name }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Printed On') }}</dt>
      <dd>{{ frappe.utils.now_datetime().strftime('%A, %B %d, %Y, %I:%M:%S %p') }}</dd>
    </dl>
    <div class="os-lof-footer-message">
      This is a computer generated receipt. No signature is required.
    </div>
  </div>
</main>
