<main class="os-print">
  {{ macros.preheader(doc) }}

  <div class="os-header os-header--barcode">
    <div class="os-header-content">
      <h1>{{ _('Spectacle Order Form') }}</h1>
      <dl>
        <dt>{{ _('Branch')}}</dt>
        <dd>{{ doc.os_branch or '' }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Order Date')}}</dt>
        <dd>{{ doc.get_formatted('transaction_date') }}</dd>
      </dl>
      <dl>
        <dt>{{ _('Lab')}}</dt>
        <dd>{{ doc.orx_lab or '' }}</dd>
      </dl>
    </div>
    <svg
      class="barcode"
      jsbarcode-format="CODE128"
      jsbarcode-value="{{ doc.name }}"
      jsbarcode-textmargin="2"
      jsbarcode-textposition="top"
      jsbarcode-fontsize="12"
      jsbarcode-fontoptions="bold"
      jsbarcode-height="30"
      jsbarcode-width="1"
      jsbarcode-margin="4"
    />
  </div>

  {%- if doc.orx_name -%}
  {%- set rx = frappe.get_doc('Optical Prescription', doc.orx_name) -%}
  {{ macros.prescription_details(rx) }}
  {{ macros.prescription_order_details(rx, doc) }}
  {%- endif -%}

  {{ macros.customer_details_short(doc.customer) }}

  <div class="os-section os-fill">
    {%- set items = get_optical_items(doc.items) -%}
    {{ macros.item_table_cat(items, currency=doc.currency) }}
  </div>

  <div class="os-summary">
    {%- call macros.summary_aside(doc) -%}
    <div class="os-bordered os-fill">
      <div>
        <span>{{ _('Storage Location')}}:</span>
        <span></span>
      </div>
      <div>
        <span>{{ _('Remarks')}}:</span>
        <span>{{ doc.os_orx_notes or '' }}</span>
      </div>
    </div>
    {%- endcall -%}
    {{ macros.sales_summary(doc, payments=get_payments(doc)|selectattr('payment_doctype', 'eq', 'Sales Invoice')|list) }}
  </div>

  {{ macros.footer(doc) }}
</main>

<script type="text/javascript" src="/assets/js/optic_store_print.min.js"></script>
<script type="text/javascript">
  JsBarcode('.barcode').init();
</script>
